env:
  global:
    - CC_TEST_REPORTER_ID=4e66a7998029f3206d05cc068c5f4cf721a961f400b8c30b86bc500eaa835212
sudo: false
language: php
php:
  - 7.2
  - 7.1
  - 7.0
  - 5.6
  - hhvm
matrix:
  allow_failures:
    - php: hhvm
services:
  - mysql
before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS test;'
  - mysql -e 'USE test;'
  - mysql -u root --password="" < res/Cache/MySQL.sql
  - mysql -u root --password="" < res/Delay/MySQL.sql
install:
  - composer install
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
