<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
    </report>
  </coverage>
  <php>
    <var name="DB_DSN" value="mysql:host=127.0.0.1;dbname=test"/>
    <var name="DB_USER" value="travis"/>
    <var name="DB_PASSWD" value=""/>
    <var name="DB_DBNAME" value="test"/>
  </php>
  <testsuites>
    <testsuite name="tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
